<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form  *ngIf="!isLoading" #loginForm ="ngForm" (ngSubmit)="login(loginForm)" >
    <mat-form-field>
      <input
        matInput
        type="email"
        name="email"
        #emailInput="ngModel"
        ngModel
        email
        required
        minlength="3"
        placeholder="Enter Email"
        >
      <mat-error *ngIf="emailInput.invalid && emailInput.touched">Please enter a Email.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        name="password"
        ngModel
        #passwordInput="ngModel"
        required
        placeholder="password"
        type="password"
        >
      <mat-error *ngIf="passwordInput.invalid && passwordInput.touched">Please enter a valid password.</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      type="submit">Login</button>
  </form>
</mat-card>
